!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sbobet
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    = css_asset('normalize.css', 'bukku')
    = css_asset('bootstrap.css', 'bukku')
    = css_asset('owl.css', 'bukku')
    = css_asset('et-icons.css', 'bukku')
    = css_asset('lightbox.css', 'bukku')
    = css_asset('publisher.css', 'bukku')
    = css_asset('font-awesome.min.css', 'font-awesome')
  %body
    #wrapper{:class => 'behind'}
      %header
        .container
          .col-md-6.col-sm-12{:class => 'wow animated fadeInUp'}
            .intro-book
            %img{:src => "#{other_asset_url('img/book1.png', 'bukku')}" }
          .col-md-6.intro-text{:class => 'hidden-sm hidden-xs wow animated fadeInUp'}
            %h2{:class => 'heading'} Swiss Typography
            %h4{:class => 'subhading'} Review of typefaces with examples.
            %p ur all time best selling book is now available in a revised and expanded second edition. Swiss Typography is the definitive guide to using type in visual communication, from the printed page to PC screen.
            %a{:href => "#book", :class => "scrollto btn btn-white"} About The Book
            %a{:href => "#", :class => "btn btn-green"} Purchase eBook
              %span{:class => "price"} $11.99
      %nav{:class => "navbar navbar-default"}
        .container
          .navbar-header
            %button{:type => "button", :class => "navbar-toggle collapsed", :data-toggle => "collapse", :data-target => "#bs-example-navbar-collapse-1"}
              %span{:class => "sr-only"} Toggle navigation
              %span{:class => "icon-bar"}
              %span{:class => "icon-bar"}
              %span{:class => "icon-bar"}
            %a{:class => "navbar-brand", :href => "#",}
              %img{:src => "#{other_asset_url('img/logo.png', 'bukku')}"}
          #bs-example-navbar-collapse-1{:class => "collapse navbar-collapse"}
            %ul{:class => "nav navbar-nav navbar-right main-nav"}
              %li
                %a{:href => "#book", :class => "scrollto"} Book
              %li
                %a{:href => "#reviews", :class => "scrollto"} Reviews
              %li
                %a{:href => "#author", :class => "scrollto"} Author
              %li
                %a{:href => "#contact", :class => "scrollto"} Contact
              %li
                %a{:href => "#", :class => "btn btn-green"} Purchase Book
    = js_asset('jquery-1.11.1.min.js', 'bukku')
    = js_asset('owl.carousel.js', 'bukku') 
    = js_asset('lightbox.min.js', 'bukku') 
    = js_asset('wow.min.js', 'bukku') 
    = js_asset('jquery.onepagenav.js', 'bukku') 
    = js_asset('core.js', 'bukku') 
    = js_asset('tooltip.js', 'bukku') 
    = js_asset('jquery.form-validator.js', 'bukku') 
    = js_asset('preloader.js', 'bukku') 
    = js_asset('main.js', 'bukku')
    = js_asset('bootstrap.min.js', 'bukku')
